<a href="https://colab.research.google.com/github/ThazSobral/tcc/blob/main/doc2vec_technique.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Técnica de Doc2Vec

by: Barker and Mecleod

## Ajuste

Primeiramente é necessário ajustar as **confirgurações** e **importar as bibliotecas** e os **dados** e

In [190]:
# Montando o drive
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

# Importando as bibliotecas
import pandas as pd

# Importando os dados
df = pd.read_csv('/content/drive/My Drive/TCC_Thalles Sobral/2-dados/germany/use-data/adjusted.csv', header=0)
# df.head()

Mounted at /content/drive

## Pré-processamento

In [191]:
# remover todas as colunas que não vão ser utilizadas
df_selected_columns = df[['tweet', 'flood']]
df_selected_columns

                                                   tweet  flood
0      irgendjemand hat mir gestern gesagt das er mic...      0
1      @ho1ger das gleiche bild übrigens im office, w...      0
2      @sensatzionell bin selbst halber berliner. wen...      0
3      tired bro??!!! djeeerome @ ice 672 http://t.co...      0
4      und tschüss! (@ köln bonn airport (cgn) w/ 8 o...      0
...                                                  ...    ...
60519                    why am i even still awake #gosh      0
60520                                  @doyo_da toll. xd      0
60521  family portrait! :) @ osteria tarantina http:/...      0
60522  @j_taekwoon guten tag !!!! 즐거운하루하시구요! 저는이제 자러 ...      0
60523                @torgator appletv v2 mit jailbreak.      0

[60524 rows x 2 columns]

In [192]:
def normalize_text(text, nums=True, unicode_replace=False):
  #biblioteca regex
  import re

  # definir regex
  remove_ellipsis_re = re.compile(r'[^\.]\.{2,3}')
  punct_re = re.compile(r"[\"'\[\],'#.:;()&!@\u2026]")
  number_re = re.compile(r'\d+')
  mentions_re = re.compile(r'\@[a-z|0-9]+')

  # deixar todos as letras em minusculas
  text = text.lower()
  # remover apostrofes
  text = text.replace("'",'')

  # aplicar regex para remover os valores positivos
  text = re.sub(remove_ellipsis_re, '', text)
  text = re.sub(punct_re, '', text)
  # remover menções
  text = re.sub(mentions_re, '', text)

  if nums:
    text = re.sub(number_re, '', text)

  text = ' '.join(text.split())

  return text

In [193]:
#dividir tweets por espaços em branco (toketizar)
def split_text(text):
  text = normalize_text(text)
  words = text.split(' ')
  return words

In [194]:
# manter emojis
# não fazer nada aqui

# TESTE

In [195]:
df['tweet'] = df['tweet'].map(split_text)

   Unnamed: 0 hashtags  ... relevance theme
0           0      NaN  ...         0     0
1           1      NaN  ...         0     0
2           2      NaN  ...         0     0
3           3      NaN  ...         0     0
4           4      NaN  ...         0     0

[5 rows x 13 columns]